body{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "one two three four"
        "five six seven eight";
    justify-items: start;
    align-items: center;
    column-gap: 18px;
}

.beatsone {
    grid-area: one;
}
 
.amazontwo {
    grid-area: two;
}
 
.applethree {
    grid-area: three;
}
 
.adidasfour {
    grid-area: four;
}
  
.adidasfive {
    grid-area: five;
}
  
.applesix {
    grid-area: six;
}
  
.amazonseven {
    grid-area: seven;
}
  
.beatseight {
    grid-area: eight;
}

img {
    width: 90%;
}
